* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(218, 213, 231);
}

header {
  margin-top: 2vh;
  height: 20vh;
}

main {
  height: 80vh;
}

p {
  font-weight: bold;
}

h1 {
  text-align: center;
}

button {
  margin: 5px;
  width: 10rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(85, 130, 219);
}

#buttons,
#buttonsStart {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 5vh;
}

#score {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

#game_board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 30vw;
  height: 30vw;
  margin: 0 auto;
}

#game_board div {
  border: 1px solid black;
}

.cell {
  font-size: 8vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
}

#message {
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
}

.unvisible {
  display: none;
}

@media screen and (max-width: 820px) {
  #game_board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 70vw;
    height: 70vw;
    margin: 0 auto;
  }
}
